@tailwind base;
@tailwind components;
@tailwind utilities;

/* Evitar el scroll global para que el CAD ocupe el 100% */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}